<!DOCTYPE html>
<html lang="en">
<head>
    <title>Brain Tumor Shape Analysis</title>
    <link rel="stylesheet" href="E:\brain_tumor\templates\css.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class ="logo">Brain Tumor Shape Analysis</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>   
    </div>
    
</body>
</html>
